@media only screen and ( max-width:600px){
    header{
        height: 110px;
            background-color: #022859;
            text-align: center;
            color: whitesmoke;
        }
        
    
    #fotoperfil{
    height: 50px;
    margin-top: 22px;
    
    }
        .perfil{
            position: absolute;
            top: 40px;
            left: 20px;
        }
    
        .perfil2{
            height: 150px;
             
        }
        .perfil2 img{
        height: 100%;
        width: auto;
        }
    
        footer{
            background-color: #81D959;
            height: 113px;
        }
        
        footer h4{
         display: inline;
        }
        
        .footer-social{
            display: inline;
        }
        
        .footer-social ul li{
            display: inline;
        }
        
        .social img{
            width: 50px;
            height: auto;
            margin: 30px;
            margin-left: 20px;   
        }

        main{
            min-height: 358px;
        }
        
        h2{
            text-align: center;
    }
    
        #radial{
            background-image: radial-gradient(orange, #7FBF75);
        }
    
    main{
        background-color: #7FBF75;
    }
}

@media only screen and ( min-width: 600px){
    header{
        height: 110px;
            background-color: #022859;
            text-align: center;
            color: whitesmoke;
        }
        
    
    #fotoperfil{
    height: 50px;
    margin-top: 22px;
    
    }
        .perfil{
            position: absolute;
            top: 40px;
            left: 20px;
        }
    
        .perfil2{
            height: 150px;
             
        }
        .perfil2 img{
        height: 100%;
        width: auto;
        }
    
        footer{
            background-color: #81D959;
            height: 113px;
        }
        
        footer h4{
         display: inline;
        }
        
        .footer-social{
            display: inline;
        }
        
        .footer-social ul li{
            display: inline;
        }
        
        .social img{
            width: 50px;
            height: auto;
            margin: 30px;
            margin-right: 110px;   
        }

        main{
            min-height: 30px;
        }
        
        h2{
            text-align: center;
    }
    
        #radial{
            background-image: radial-gradient(orange, #7FBF75);
        }
    
    main{
        background-color: #7FBF75;
    }
}

@media only screen and ( min-width: 768px){
    header{
        height: 110px;
            background-color: #022859;
            text-align: center;
            color: whitesmoke;
        }
        
    
    #fotoperfil{
    height: 50px;
    margin-top: 22px;
    
    }
        .perfil{
            position: absolute;
            top: 40px;
            left: 20px;
        }
    
        .perfil2{
            height: 150px;
             
        }
        .perfil2 img{
        height: 100%;
        width: auto;
        }
    
        footer{
            background-color: #81D959;
            height: 113px;
        }
        
        footer h4{
         display: inline;
        }
        
        .footer-social{
            display: inline;
        }
        
        .footer-social ul li{
            display: inline;
        }
        
        .social img{
            width: 50px;
            height: auto;
            margin: 30px;
            margin-right: 110px;   
        }

        main{
            min-height: 30px;
        }
        
        h2{
            text-align: center;
    }
    
        #radial{
            background-image: radial-gradient(orange, #7FBF75);
        }
    
    main{
        background-color: #7FBF75;
    }
}

@media only screen and ( min-width: 992px){
    header{
        height: 110px;
            background-color: #022859;
            text-align: center;
            color: whitesmoke;
        }
        
    
    #fotoperfil{
    height: 50px;
    margin-top: 22px;
    
    }
        .perfil{
            position: absolute;
            top: 40px;
            left: 20px;
        }
    
        .perfil2{
            height: 150px;
             
        }
        .perfil2 img{
        height: 100%;
        width: auto;
        }
    
        footer{
            background-color: #81D959;
            height: 113px;
        }
        
        footer h4{
         display: inline;
        }
        
        .footer-social{
            display: inline;
        }
        
        .footer-social ul li{
            display: inline;
        }
        
        .social img{
            width: 50px;
            height: auto;
            margin: 30px;
            margin-right: 110px;   
        }

        main{
            min-height: 30px;
        }
        
        h2{
            text-align: center;
    }
    
        #radial{
            background-image: radial-gradient(orange, #7FBF75);
        }
    
    main{
        background-color: #7FBF75;
    }
}

@media only screen and ( min-width: 1200px){
    header{
        height: 110px;
            background-color: #022859;
            text-align: center;
            color: whitesmoke;
        }
        
    
    #fotoperfil{
    height: 100px;
    margin-top: 1px;
    
    }
        .perfil{
            position: absolute;
            top: 40px;
            left: 20px;
        }
    
        .perfil2{
            height: 150px;
             
        }
        .perfil2 img{
        height: 100%;
        width: auto;
        }
    
        footer{
            background-color: #81D959;
            height: 113px;
        }
        
        footer h4{
         display: inline;
        }
        
        .footer-social{
            display: inline;
        }
        
        .footer-social ul li{
            display: inline;
        }
        
        .social img{
            width: 50px;
            height: auto;
            margin: 30px;
            margin-right: 400px;   
        }

        main{
            min-height: 30px;
        }
        
        h2{
            text-align: center;
    }
    
        #radial{
            background-image: radial-gradient(orange, #7FBF75);
        }
    
    main{
        background-color: #7FBF75;
    }
}