header{
    height: 180px;
        background-color: #022859;
        text-align: center;
        color: whitesmoke;  
    }
    
    .perfil{
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .perfil2{
        height: 150px;
         
    }
    .perfil2 img{
    height: 100%;
    width: auto;
    }

    footer{
        background-color: #81D959;
        height: 113px;
    }
    
    footer h4{
     display: inline-block;
    }
    
    .footer-social{
        display: inline-block;
    }
    
    .footer-social ul li{
        display: inline-block;
    }
    
    .social img{
        width: 50px;
        height: auto;
        margin: 30px;
        margin-left: 300px;   
    }